
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family: "Poppins", sans-serif;
    background-color: rgb(12, 12, 12);
    /* background-color: rgb(16, 16, 74); */
    color: white;
}