
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family: "Poppins", sans-serif;
    background-color: black;
    /* background-color: rgb(16, 16, 74); */
    color: white;
}