*{
    background-color: black;
    color: white;
}

.hero{
    background-image: url("./assets/conference_img.png");
    
}




::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #080808;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #f5880b, #975cf6);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #f5880b, #975cf6);
  }

